<a href="https://colab.research.google.com/github/kunal13-Ai/pythonwork/blob/main/flowcontrol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 name = input("enter name:")
if name == "kunal":
  print("hello kunal")
  print("where are you?")

In [ ]:
n1=int(input("n1:"))
n2=int(input("n2:"))
if (n2>n1):
  print("biggest number:",n2)
elif(n1>n2):
  print("big number:",n1)
else:
  print("both are equal")

Homework
#Write a Program to find Biggest of given 3 Numbers.

In [ ]:
p1=int(input("p1:"))
p2=int(input("p2:"))
p3=int(input("p3:"))
if (p1>p2) and (p1>p3):
  print("biggest number:",p1)
elif (p2>p3) and (p2>p1):
  print("biggest number:",p2)
else:
  print("biggest",p3)

write a program for finding the odd number::using not equal to

In [ ]:
n1=int(input("given number:"))
if (n1%2!=0):
  print("odd")
else:
  print("even")

In [ ]:
age = int(input("Enter your age: "))
print("You are", age, "years old")

In [ ]:
     p1=int(input("n1:"))
if (p1%2!=0):
  print("odd")
else:
  print("even")

write a code for finding a smallest of given 3 number

In [ ]:
p1=int(input("enterfirstnumber:"))
p2=int(input("entersecindnumber:"))
if (p2<p1):
  print("smallest number:",p2)
else :
  print("small number:",p1)

== this means equal to




!= this means **not equal to**

write a code for finding the odd form given number

In [ ]:
f1=int(input("given number:"))
if (f1%2==0):
  print("even")
else:
  print("odd")

write a code for finding smallest of a given 3 numbers

In [ ]:
a1=float(input("enter first number:"))
a2=float(input("enter second number:"))
a3=float(input("enter third number:"))
if (a1<a2) and (a1<a3):
  print("smallest number:",a1)
elif (a2<a1) and (a2<a3):
  print("smallest number:",a2)
else:
  print("smallest number:",a3)

In [ ]:
age=float(input("given age="))
if age<=13:
  print("you are a child")
elif age<=19:
  print("you are a teenager")
else:
  print("you are an adult")

Iterative **Statement**

In [ ]:
k="ss rajamaouli"
for i in k :
  print(i)

In [ ]:
      s = "ramcharn"
for x in s:
  print(x)

In [ ]:
h = ("fri","sat","sun")
for i in h:
    print("happy",i)

In [ ]:
for x in ["super","spider","bat"]:
  print("man",x)

In [ ]:
b=["super","spider","bat"]
for i in b:
  print(i,"man")

In [ ]:
for i in range(11):
  print(i)

In [ ]:
for i in range(25):
 if (i%2!=0):
  print(i,end='  ')

In [ ]:
for x in range(0,10,-2):
  print(x)

In [ ]:
A = eval(input("enterscore:"))
sum=0;
for i in A:
  sum=sum+i;
print("sum=",sum)

In [ ]:
a = int(input("enter score:")) # Ensure 'a' is an integer
factorial = 1
if a < 0:
  print("Factorial does not exist for negative numbers")
elif a == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1, a + 1): # Iterate from 1 up to and including 'a'
    factorial = factorial * i # Correct factorial calculation
  print("The factorial of", a, "is", factorial) # Print final result

In [ ]:
a = eval(input("enter score:"))
sum = 0;
for i in a:
  sum=sum+i;

print("sum=",sum)

 WHILE LOOP

In [ ]:
n=int(input("enter score:"))
factorial = 1
i=1
while i<=n:
  factorial=factorial*i
  i=i+1
print("the factorial of n number is",factorial)

In [ ]:
x=1
while x<=11:
  print(x)
  x=x+2

In [ ]:
a=int(input("enternumber:"))
sum=0
i=0
while i<=a:
  sum=sum+i
  i=i+1
print("sum of first",a,"number is",sum)

In [ ]:

n=int(input("Enternumber:"))
sum=0
a=1
while a<=n:
  sum=sum+a
  a=a+1

print("The sum of first",n,"numbers is:",sum)

In [ ]:
n=5
sum=0
i=1
while i<=n:
  print("i is",i)
  sum=sum+i
  print("sum is",sum)
  i=i+1
  print("updated i is",i)
print("sum of first 5 number is",sum)

In [ ]:

while True:
  x=x+1
  print("hello",x)

In [ ]:
for i in range(4):
  for j in range(4):

    print(i,j)

In [ ]:
n = 6
for i in range(n):
  print("*"* i)

In [ ]:
n=6
i=1
while i<=n:
  print("*"*i)
  i=i+1

In [ ]:
from re import I
n=6
i=1
while i<=n:
  print("*"*i)
  i=i+1



Transfer Statements

In [ ]:
for i in range(10):
  if i==8:
   print("processing is enough....")
   break
  print(i)

In [ ]:
for i in range(15):
  if i==9:
    print("plz break.")
    break
  print(i)

In [ ]:
cart=[10,30,60,42,182,564,94,572]
for item in cart:
  if item>=450:
    print("insufficient amount")
    break
  print(item)

In [ ]:
cart=[10,20,600,60,70]
for item in cart:
  if item>500:
    print("To place this order insurence must be required")
    break
  print(item)

continue


continue means Skip

In [ ]:
for i in range(10):
  if i%2==0:
   continue
  print(i)

In [ ]:
cart=[20,50,60,89,120,185,26,90]
for item in cart:
  if item>100:
   print("insufficient amount",item)
   continue
  print(item)

***String***

In [ ]:
a=[10,20,30,40]
b=bytes([10,20,30,40])
type(b)

In [ ]:
a= "Learning Python is very easy!!"

In [ ]:
a[:5]

In [ ]:
a[::-1]

In [ ]:
a[::2]

In [ ]:
len(a)

In [ ]:
s = "learning python is very easy!!"
n=len(s)
i=n-1
while i>=0:
  print(s[i], end='')
  i=i-1

In [ ]:
a= "Learning Python is very easy!!"
n=len(a)
i=n-1 # Start from the last index
while i>=0: # Continue as long as index is valid
  print(a[i], end='') # Access character from string 'a' at index 'i'
  i=i-1

In [ ]:
a="learning python is very easy!!"
n=len(a)
i=0
while i>=-n:
  print(a[i],end='')
  i=i-1

In [ ]:
i=range(4)
j=range(4)
print("i=",j,"j=",i)

In [ ]:
a=eval(input("enter number:"))
sum=0
for i in a:
  sum=sum+i
print("sum =",sum)

In [ ]:
n=6
for i in range(6):

  print("*" * i)

In [ ]:
n=6
i=0
while i<=n:
  i=i+1
  print("*" * i)

In [ ]:
a=int(input("given no."))
if (a%2!=0):
    print("odd")
else:
    print("even")

In [ ]:
n1=int(input("given number:"))
if (n1%2!=0):
  print("odd")
else:
  print("even")

In [ ]:
s=eval(input("enter number:"))
sum=0
for i in s:
  sum=sum+i
print("sum=",sum)

In [ ]:
s=int(input("enter number:"))
sum=0
i=0
while i<=s:
  sum=sum+i;
  i=i+1
print("sum=",sum)

In [ ]:
a="8"
b=5
c=a*b
c

In [ ]:
a="learing python is very easy!"
b=len(a)
i=0
while i>=-b:
  print(a[i])
  i=i-1

In [ ]:
a="learing python is very easy!"
b=len(a)
i=0
while i>=-b:
  print(a[i],end='')
  i=i-1

In [ ]:
a="learing python is very easy!"
b=len(a)
i=0
while i>=-b:
  print(a[i],end='_')
  i=i-1

In [ ]:
a="learing python is very easy!"
'a'in a

In [ ]:
y=" internet is fast "
y.strip()

In [ ]:
y.rstrip()

In [ ]:
a="learing python is very easy!"

a.find('very')

In [ ]:
a.index('i')

In [ ]:
a.rfind('learning')

In [ ]:
a.count('a')

In [ ]:
a.count('e')

In [ ]:
a="learing python is very easy!"

a1=a.replace("very","not so easy")
a1

In [ ]:

n=int(input("given number:"))
sum=0;
i=1;
while i<=n:
  sum=sum+i;
  i=i+1
print("sum of number=",sum)

In [ ]:
a="learing python is very easy!"
b=len(a)
i=0
while i>=-b:
  print(a[i],end='')
  i=i-1

In [ ]:
a[::-1]

In [ ]:
a="learing python is very easy!"
a.count('e')

In [ ]:
a="Learning python is very easy!!"
b=len(a)
i=0
while i>=-b:
  print(a[i],end='')
  i=i-1

In [ ]:
a="Learning python is very easy!!"

a.find("is")

In [ ]:
a.index('n',1,12)

In [ ]:
a=input("mainstring:")
suba=input("substring:")
position=0
while True:
  pos=a.find(suba,position)
  if pos==-1:
    break
  print("position of a substring:",pos)
  position=pos+len(suba)

In [ ]:
y=input("main string:")
suby=input("substring:")
a=0;
while True:
  pos=y.find(suby,a)
  if a==0:
    break

print("position of substring")

In [ ]:
a.count('e')

In [ ]:
a="Learning python is very easy!!"
a.count('a')

In [ ]:
a="Learning python is very easy!!"
print(a.isalpha())

In [ ]:
print('Learning python is very easy'.isalnum())

In [ ]:
bool(0)

In [ ]:
s="python is not very easy"
a=s.split()
z=" ".join(reversed(a))
print(z)

In [ ]:
name='kunal'
age=27
salary=78,152
print("{}'s age is {} and his salary is {}".format(name,age,salary))
name='mahesh'
age=28
salary=85,125
print("{}'s salary is {} and his age is {}".format(name,salary,age))

In [ ]:
a="Its my time to shine"
b=a.split()
c=' '.join(reversed(b))
print(c)

In [ ]:
a='why Are yOu here'
print(a.swapcase())
print(a.upper())
print(a.title())
print(a.lower())
print(a.capitalize())

In [ ]:
a.replace("here","there")

In [ ]:
y="Its my time to shine"
y.replace("shine","rise")

In [ ]:
print(y.split())

In [ ]:
print(y.startswith('Its'))
print(y.endswith('time'))
print(y.endswith('shine'))

In [ ]:
y="Its my time to shine"
x=y.split();
z=' '.join(reversed(x))
print(z)

In [ ]:
a="you are on your own"
b=a.split()
c=' '.join(reversed(b))
print(c)

In [ ]:
n=11
y={i+5 for i in range(n)}
print(y)
i=i+5

In [ ]:
a="learning python is very easy!!"
b=len(a)
i=0
while i>=-b:
  print(a[i],end='')
  i=i-1

In [ ]:
x="python learning is very easy"
y=x.split()
z=' '.join(reversed(y))
print(z)

In [ ]:
n=eval(input("given number:"))
factorial=1
i=0
for i in n:
  factorial=factorial*i
  i=i+1
print("factorial of a given number is",factorial)

In [ ]:
n1=eval(input("given number:"))
sum=0;
for i in n1:
 sum=sum+i
print("sum",sum)

In [ ]:
n=eval(input("given number:"))
i=0;
sum=0;
while i<=n:
  sum=sum+i
  i=i+1

print("sum of given numbers:",sum)

In [ ]:
k=eval(input("given number:"))
sum=1
i=1
while i<=k:
  sum=sum*i
  i=i+1
print("factorial of a given number:",sum)

In [ ]:
a=[1,2,3,4,5]
a.reverse()
a

In [ ]:
b="why so serious"
# b.reverse() # This causes an AttributeError because strings are immutable
b_reversed = b[::-1] # Use slicing to create a new reversed string
print(b_reversed)

In [ ]:
t1=(10,20,30,40)
t2=[i*2 for i in t1]
print(tuple(t2))

In [ ]:
t1=(10,20,30,40)
t2=list(t1)
for i in t2:
  i=i*2
  print((i*2),end=' ')

In [ ]:
t1=(10,20,30,40)
result=[]
for i in t1:
    result.append(i*3)
print(tuple(result))

In [ ]:
squares=set()
for i in range(7):
  squares.add(i**2)
print(squares)

In [ ]:
x=eval(input("given numbers:"))
l=len(x)
sum=0
for i in x:
  sum=sum+i;
print("sum of given numbers:",sum)
print("average of a given numbers",sum/l)

In [ ]:
squares={i**2 for i in range(0,20,2)}
print(squares)

In [ ]:
x=set()
i=0
while i<=7:
  x.add(i**2)
  i=i+1 # Correctly indented inside the loop
print(x) # De-indented to print the final set after the loop

{0, 1, 4, 36, 9, 16, 49, 25}

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,45],index=['t','a','r','a']) # Example of a correct index with 4 elements
s

t    10
a    20
r    30
a    45
dtype: int64

In [ ]:
# importing pandas module
import pandas as pd

# making data frame
data = pd.read_csv("/content/sample_data/mnist_test.csv") # Changed to an existing sample CSV file

# calling head() method
data.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv("/content/drive/MyDrive/Mypandas/nba.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Mypandas/nba.csv'