<a href="https://colab.research.google.com/github/kunal13-Ai/pythonwork/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def even_odd(num):
  if num%2==0:
    print("number is even",num)
  else:
    print("number is odd",num)

In [ ]:
even_odd(7)

number is odd 7

In [ ]:
def factorial(num):
  result=1
  while num>=1:
    result = result*num
    num=num-1
  return result

In [ ]:
factorial(6)

720

In [ ]:
# Factorial
def fact(num):
  result=1
  while num >= 1:
    result=result*num
    num=num-1
  return result

In [ ]:
fact(5)

120

In [ ]:
def sum_sub(x,y):
  sum=x+y
  sub=x-y
  return sum, sub

In [ ]:
x,y=sum_sub(100,50)
print("The Sum is",x)
print("The sub is",y)

The Sum is 150
The sub is 50

In [ ]:
233

150

In [ ]:
#fibonacci = its sum of pervious 2 numbers
def fibonacci(n):
  if n<=1:
   return n
  return fibonacci(n-1)+fibonacci(n-2) # Recursive function

In [ ]:
print(fibonacci(5))
print(fibonacci(9))

5
34

In [ ]:
num=5
fact=1
for i in range(num):
  i=i+1
  fact=fact*i
print(fact)

120

In [ ]:
# using while loop

num=5
i=1
while i>=num:
  i=i+1
  fact=i*fact
print(fact)

120

In [ ]:
def wish(name):
  print('hello',name,'good morning')

In [ ]:
wish("kunal")

Hello kunal  Good Morning

In [ ]:
wish('tatya')

Hello tatya  Good Morning

In [ ]:
def squareIt(n):
  return n*n

In [ ]:
squareIt(7)

49

In [4]:
square = lambda x: x*x
square(2)

4